<%- include('../layouts/user-header') %>

<section class="wallet">
    <h1 class="title">My Wallet</h1>
    <div class="lap box-container m-5">
        <table class="table align-middle">
            <thead class="box">
        <th>Your current balance is: <%= balance %></h3>
        
        </thead>
    </table>
    </div>
</section>

<%- include('../layouts/user-footer.ejs') %>